.aboutHistory {
  background: var(--color-text-light-and-background);
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  gap: 88px;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: var(--inside-block-spacing);
  width: 581px;
  max-width: 100%;
  flex-shrink: 0;
}

.title {
  font-family: var(--font-header);
  font-style: italic;
  font-size: var(--size-header);
  line-height: normal;
  color: var(--color-text-dark-and-foreground);
  margin: 0;
  font-weight: 400;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--font-body);
  font-size: var(--size-body);
  line-height: normal;
  color: var(--color-text-dark-and-foreground);
  font-weight: 400;
}

.description p {
  margin: 0;
}

.highlight {
  color: var(--color-pink);
}

.imageContainer {
  width: 645px;
  height: 545px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  border-radius: 19px;
}

.image {
  width: 100%;
  height: 120%;
  object-fit: cover;
  object-position: left top;
}

/* Адаптивность */
@media (max-width: 1400px) {
  .content {
    gap: 70px;
  }

  .textContent {
    width: 520px;
  }

  .description {
    gap: 18px;
  }

  .imageContainer {
    width: 580px;
    height: 490px;
  }
}

@media (max-width: 1200px) {
  .content {
    gap: 60px;
  }

  .textContent {
    width: 480px;
  }

  .description {
    gap: 16px;
  }

  .imageContainer {
    width: 520px;
    height: 440px;
  }
}

@media (max-width: 1024px) {
  .content {
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
  }

  .textContent {
    width: 100%;
  }


  .imageContainer {
    width: 100%;
    max-width: 600px;
    height: 450px;
    align-self: center;
  }
}

@media (max-width: 768px) {
  .content {
    gap: 40px;
  }

  .textContent {
    gap: var(--spacing-xxl);
  }

  .description {
    gap: 14px;
  }

  .imageContainer {
    max-width: 500px;
    height: 380px;
  }
}

@media (max-width: 480px) {
  .content {
    gap: var(--inside-block-spacing);
  }

  .textContent {
    gap: 28px;
  }

  .description {
    gap: 12px;
  }

  .imageContainer {
    max-width: 100%;
    height: 300px;
  }
}

